<form class="sight-up-form" (ngSubmit)="sendRequest()" >

  <mat-form-field class="mat-field-full-width">
    <mat-label>Name</mat-label>
    <input type="text" matInput [formControl]="name" [errorStateMatcher]="matcher"
           placeholder="Name">
    @if (name.hasError('required')) {
    <mat-error>Name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field class="mat-field-full-width">
    <mat-label>Password</mat-label>
    <input type="text" matInput [formControl]="password" [errorStateMatcher]="matcher"
           placeholder="Choose Password">
    @if (password.hasError('required')) {
    <mat-error>Password <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <button mat-flat-button color="my-app-primary" [disabled]="name.invalid || password.invalid " class="submit-button" type="submit">
                          <span class="submit-button-text">
                              Log In
                          </span>
  </button>
</form>
